@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="@UserManager.GetUserName(User),Sign up,Log in,search,add new photo,all photos,post photo,photohub,photo,giveaway,filters,photos,filter,photo giveaways,apply filter,post photo to instagram,post photo instagram pc,post photography,post photo to instagram from mac,post photo to instagram api,post photos to instagram from pc,post photo size for facebook,post photo on instagram website,post photo online,post photos on insta story,post photo facebook api,post photography definition,post photo with music on instagram,post photos from computer on instagram,post photos in instagram,post photos on instagram from mac,post photos on reddit,post photo and video facebook,post photo album to facebook page,post photo app,post photo as facebook comment,post photo anonymously,post photo as instagram story,post photo album on facebook,post photo and earn money,post photo and link facebook,post photo at facebook,post a photo on instagram,post a photo,post a photo on instagram from computer,post a photo on instagram online,post photo on twitter,post a photo online,post a photo on linkedin,post a photo on snapchat,post a photo on tumblr,post a photo on facebook from iphone,post photo button not working on facebook,post photo by email facebook,post photo blogger,post bound photo album,upload photo bootstrap,upload photo birthday card,upload photo button html,upload photo burst,upload photo booth video to youtube,upload photo button,upload photo booth video to facebook,upload photo buddypress,upload photo by php,upload photo beauty,upload photo by link,photo post bad,post box photo,post bulletin photo gallery,photo post bataclan,post bound photo album refills,post photo collage on facebook,how post photo on facebook comment,post photo craigslist,post photo.com,post photo comment facebook mobile,post photo collage instagram,post photo comment 9gag,post photo comment facebook android,post card photo,photo postcards,upload photo change hair,upload photo celebrity look alike,upload photo.com,upload photo code in html,upload photo cvs,upload photo code in php,upload photo cakephp,upload photo change hairstyle,postcard size photo,post card photo means,photo post dimensions facebook,upload photo direct link,upload photo dropbox,upload photo determine face shape,upload photo dropbox iphone,upload photo download,upload photo design,upload photo deep dream,upload photo django,upload photo ds 160,upload photo determine my face shape,upload photo drupal,upload photo dropbox ipad,upload photo database,photo upload dropbox lightroom,post dispatch photo contest,post death photo,post dispatch photo archives,photo post dimensions tumblr,upload photo di twitter,post photo editing,post photo editing tutorial,post photo editing software,post photo editing tips,post photo earn money,post photo editor,upload photo earn money,upload photo edit,upload photo earn money online,upload photo exchange 2013,upload photo exchange 2010,ulead photo express 6.0 free download,upload photo eyebrow,upload photo ebay,upload photo ethnicity,upload photo ea sports,upload photo error facebook,how to upload photo to ea sports,photo upload error tumblr,photo upload example php,post photo facebook,post photo facebook size,post photo from iphone to facebook,post photo from pc to instagram,post photo from computer to instagram,post photo from instagram to facebook,post photo facebook android,post photo facebook event,post photo facebook timeline,upload photo free,upload photo facebook,upload photo from gallery to snapchat,upload photo from iphone,upload photo from iphone to pc,upload photo face shape,upload photo frame,upload photo file,upload photo for hair color,post photo graph api,post photo gallery wordpress,post photo google,post photo gallery to snapchat,post photo group patrick simpson jones,upload photo google,upload photo gallery,upload photo google search,upload photo get link,upload photo google form,upload photo get url,upload photo gmail,upload photo get color palette,upload photo gif,upload photo golden ratio,upload photo google maps,upload photo glasses frames,upload photo google drive iphone,upload photo gallery php,upload photo google account,upload photo html,upload photo hairstyle,upload photo hd,upload photo hd facebook,upload photo html5,upload photo hair color,upload photo high quality facebook,upload photo hairstyle suits me,upload photo high resolution facebook,how post photo on facebook,upload photo hairstyle generator,upload photo hairstyles free,upload photo house exterior paint,upload photo hair color change free,post photo instagram,post photo instagram api,how to post photo on fb comment,post photo in facebook,post photo instagram online,post photo in snapchat,post photo instagram computer,post photo instagram ipad,photo post it,post it photo paper,post instagram photo without cropping,post instagram photo to facebook,upload photo in google,upload photo instagram,upload photo in facebook,upload photo instagram via pc,upload photo on instagram using pc,upload photo jquery,upload photo javascript,upload photo js,upload photo jquery ajax,upload photo java,upload photo jquery mobile,upload photo jquery php,upload photo jquery plugin,upload photo jsp,upload photo javascript code,upload photo json,upload photo jsp code,upload photo jsf,upload photo joomla module,upload photo joomla,upload photo javascript sdk facebook,post photo facebook javascript,photo post production jobs,jquery post photo,upload photo jpg,kanye west post kim photo,upload photo ke google,upload photo kitchen design,upload photo ke twitter,upload photo ke instagram lewat pc,upload photo kaskus,upload photo keyring,upload photo ke instagram,upload photo ke facebook,upload photo ke twitter via hp,upload photo kad raya,photo upload keyrings,post office photo kiosk,photo upload kaise kare,upload kitchen photo,photo upload karna,photo upload kindle case,photo upload kitchen calendar,photo upload kare,photo upload karne ka tarika,post photo link,post photo linkedin,post photo link on facebook,post photo link tumblr,post photo like page facebook,post photo library to snapchat,post/photo liker,post live photo to instagram,post live photo,photo post limit tumblr,post landscape photo instagram,upload photo link,upload photo library to icloud,upload photo linkedin,upload photo laravel,upload photo look alike,upload photo linkedin ipad,upload photo link facebook,upload photo lync,upload photo limit facebook,@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.Description - PhotoHub provides a fast, beautiful and fun way for you to share media through our content-sharing platform. Just snap a photo, choose a filter to transform the look and feel, add comments (if you like) and share!">

    <title>@ViewBag.Title &#8729; PhotoHub</title>

    <meta name="theme-color" content="#00d1b2">

    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-24x24.png" sizes="24x24">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/favicon-128x128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/favicon-256x256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="/favicon-512x512.png" sizes="512x512">

    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

    <link rel="stylesheet" href="~/css/filters.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="~/css/filters.css"></noscript>

    <link rel="stylesheet" href="~/css/app.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="~/css/app.css"></noscript>

    @RenderSection("Styles", required: false)

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

    <script defer src="~/lib/nanobar.min.js"></script>
    <script defer src="~/js/app.js"></script>

    @RenderSection("Scripts", required: false)
</head>
<body id="body" data-app-user="@( User.Identity.IsAuthenticated ? User.Identity.Name : "" )">

    <nav class="navbar is-unselectable is-fixed-top is-white" v-bind:class="{'is-hidden-navbar': isHidden}" id="navbar">
        <div class="container">
            <!-- v-on:dblclick="toTopPage"-->
            <div class="navbar-brand">
                <a class="navbar-item" href="/photos" title="Photos">
                    <b>PhotoHub</b>
                </a>
                <span class="navbar-burger burger" v-bind:class="{'is-active': navActive}" v-on:click="clickNavbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div class="navbar-menu" v-bind:class="{'is-active': navActive}">
                <div class="navbar-end">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>

    <section class="section" id="primary-container">
        <div class="container">
            <h1 class="title is-1 is-spaced is-uppercase has-text-centered has-text-weight-bold is-doted-end" title="@ViewBag.Title">@ViewBag.Title</h1>
            @RenderBody()
        </div>
    </section>

    <footer class="footer" id="footer">
        <div class="container">
            <div class="content has-text-centered">
                <a class="button" href="https://github.com/maXA1m/photohub-core" title="Href on github" target="_blank">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>