@model PhotoHub.WEB.ViewModels.UserViewModel

@{
    ViewBag.Title = "New photo";
    ViewBag.Keywords = "Create new photo,picked image," + Model.UserName + ",Like,Filter,Image,Post,User";
    ViewBag.Description = "Create new photo page on PhotoHub";
}

@section Scripts{
    <script defer src="~/lib/exif.js"></script>
    <script defer src="https://unpkg.com/vue-dragscroll@1.3.1/dist/vue-dragscroll.min.js"></script>
    <script defer src="~/js/photos/create.js"></script>
}

<form action="/photos/create" class="is-flex is-flex-row is-flex-centered is-flex-wrap" method="POST" id="photosCreate" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <article class="card is-responsive" v-bind:class="{'card-loading': !loaded, 'droping': droping}" id="mainCard">
        <header class="card-header">
            <p class="card-header-title">
                <a class="has-text-grey-darker has-text-left has-text-justified" href="/users/@Model.UserName" title="@Model.UserName" style="margin-right: 3px;"><img class="image is-32x32 is-circle" src="@Model.Avatar" alt="@Model.UserName" /></a>
                <a class="has-text-grey-darker has-text-left has-text-justified" href="/users/@Model.UserName" title="@Model.UserName">@Model.UserName</a>
            </p>
            <div class="card-header-icon">
                <a class="button is-white" title="Share"><i class="fas fa-share-alt"></i></a>
                <a class="button is-white" title="Copy link to clipboard"><i class="far fa-copy"></i></a>
            </div>
        </header>

        <div class="card-image" v-if="loaded">
            <figure class="is-card-image filter" v-bind:class="filter">
                <img v-bind:src="path" v-bind:alt="name" id="mainImg">
            </figure>
        </div>

        <div class="card-image" v-if="!loaded" preloader v-on:click="clickFile">
            <img src="~/images/defaults/def-photo.png">
            <p>Drag'n'Drop or click to upload photo</p>
        </div>

        <div v-if="metadata">
            <input type="hidden" v-bind:value="metadata.brand" name="Brand" id="Brand" v-if="metadata.brand" />
            <input type="hidden" v-bind:value="metadata.model" name="Model" id="Model" v-if="metadata.model" />
            <input type="hidden" v-bind:value="metadata.aperture" name="Aperture" id="Aperture" v-if="metadata.aperture" />
            <input type="hidden" v-bind:value="metadata.exposure" name="Exposure" id="Exposure" v-if="metadata.exposure" />
            <input type="hidden" v-bind:value="metadata.iso" name="Iso" id="Iso"  v-if="metadata.iso"  />
            <input type="hidden" v-bind:value="metadata.focalLength" name="FocalLength" id="FocalLength"  v-if="metadata.focalLength"  />
        </div>

        <input class="file-input" type="file" id="file" name="file" accept="image/*" v-on:change="filePreview($event)" style="display: none;" required>

        <div class="is-filters-picker" v-bind:class="{'is-display-none': submited}" v-dragscroll.x="true" v-dragscroll.y="false">
            @foreach (var filter in ViewBag.Filters)
        {
            <div class="is-unselectable">
                <input class="is-display-none" id="@("filterId" + @filter.Id )" type="radio" name="Filter" value="@filter.Name" v-on:click="pickFilter('@filter.Name')" @( filter.Id == 1 ? "checked" : "" ) />
                <label for="@("filterId" + @filter.Id )" class="is-paddingless" title="@filter.Name">
                    <figure class="filter @filter.Name is-paddingless is-marginless">
                        <img v-bind:src="path" alt="@filter.Name filter" class="image is-96x96">
                    </figure>
                    <h5 class="has-text-centered has-text-weight-bold has-text-accented">@filter.Name</h5>
                </label>
            </div>
    }
        </div>

        <input type="hidden" v-bind:value="pickedTags.join()" name="tags" id="tags" />

        <div class="card-tags-panel" v-if="loaded" v-bind:class="{'is-display-none': submited}">
            <a class="button is-small is-light" v-on:click="removeTag(tag)" v-for="tag in pickedTags" v-bind:title="'Remove ' + tag + ' tag'">{{tag}}</a>
            <a class="button is-small is-light" v-on:click="showAddTag" v-if="pickedTags.length < 5" title="Add tag"><i class="fas fa-plus"></i><span v-if="pickedTags < 1"> Add tag</span></a>
        </div>

        <div class="card-content">
            <div class="content" v-bind:class="{'is-display-none': !loaded}">
                <input class="input" v-bind:class="{'is-display-none': submited}" type="text" placeholder="Description" name="Description" id="Description">
            </div>

            <div class="content card-button-panel">
                <div>
                    <a class="button is-white is-unselectable" title="Dislike"><i class="fas fa-heart"></i></a>
                    <a class="button is-white comment-button" title="Comments"><i class="fas fa-comment"></i></a>
                </div>
                <div>
                    <a class="button is-accent-button" title="Show metadata" v-on:click="showMetadata"><i class="fab fa-medapps"></i></a>
                    <a class="button is-white bookmark-button" title="Save to bookmarks"><i class="far fa-bookmark"></i></a>
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <div class="card-footer-item">
                <button type="submit" class="button is-accent-button is-uppercase" id="upload-photo-button" v-bind:class="{'is-loading': submited}" v-on:click="submit" title="Create photo">create</button>
            </div>
        </footer>
    </article>

    <!-- Modal Metadata -->
    <div class="modal" v-bind:class="{'is-active': metadataActive, 'is-display-none': submited}" v-if="metadata">
        <div class="modal-background modal-custom-background" v-on:click="closeMetadata"></div>
        <div class="modal-card modal-card-custom modal-card-custom-metadata">
            <header class="modal-card-head">
                <p class="modal-card-title is-uppercase">Info</p>
                <a class="close-button" v-on:click="closeMetadata" title="Close modal"><i class="fas fa-times"></i></a>
            </header>
            <section class="modal-card-body modal-card-body-metadata">
                <div>
                    <p>Brand</p>
                    <p>{{metadata.brand?metadata.brand:'Unknown'}}</p>
                </div>
                <div>
                    <p>Model</p>
                    <p>{{metadata.model?metadata.model:'Unknown'}}</p>
                </div>
                <div>
                    <p>ISO</p>
                    <p>{{metadata.iso?metadata.iso:'Unknown'}}</p>
                </div>
                <div>
                    <p>Exposure</p>
                    <p>{{metadata.exposure?metadata.exposure + ' sec':'Unknown'}}</p>
                </div>
                <div>
                    <p>Aperture</p>
                    <p>{{metadata.aperture?'f/' + metadata.aperture:'Unknown'}}</p>
                </div>
                <div>
                    <p>Focal length</p>
                    <p>{{metadata.focalLength?metadata.focalLength + 'mm':'Unknown'}}</p>
                </div>
                <div>
                    <p>Filter</p>
                    <p>{{filter}}</p>
                </div>
                <a class="button is-white has-text-grey-darker" title="Close modal" v-on:click="closeMetadata">Close</a>
            </section>
        </div>
    </div>

    <!-- Modal Tags -->
    <div class="modal" v-bind:class="{'is-active': addTagActive, 'is-display-none': submited}">
        <div class="modal-background modal-custom-background" v-on:click="closeAddTag"></div>
        <div class="modal-card modal-card-custom modal-card-custom-metadata">
            <header class="modal-card-head">
                <p class="modal-card-title is-uppercase">Add tag</p>
                <a class="close-button" v-on:click="closeAddTag" title="Close modal"><i class="fas fa-times"></i></a>
            </header>
            <section class="modal-card-body modal-card-body-tags">
                <input class="input" type="text" placeholder="Tag name" id="findTagInput" v-model="findTag" v-on:keydown.enter="findTagEnter" v-on:keyup.enter="findTagEnter" v-on:keydown.space="findTagEnter" v-on:keyup.space="findTagEnter" />
                <div>
                    <a class="button is-light" v-on:click="addTag(tag.name)" v-bind:title="tag.name" v-for="tag in filteredTags" :key="tag.$id">{{tag.name}}</a>
                </div>
                <a class="button is-white has-text-grey-darker close-modal-mobile-button" title="Close modal" v-on:click="closeAddTag">Close</a>
            </section>
        </div>
    </div>
</form>


