@model PhotoHub.WEB.ViewModels.UserViewModel

@{
    ViewBag.Title = "New photo";
    ViewBag.Keywords = "Create new photo,picked image," + Model.UserName + ",Like,Filter,Image,Post,User";
    ViewBag.Description = "Create new photo page on PhotoHub";
}

@section Scripts{
    <script defer src="~/js/photos/create.js"></script>
}

<form action="/photos/create" class="is-flex is-flex-row is-flex-centered is-flex-wrap" method="POST" id="photosCreate" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <article class="card is-responsive" v-bind:class="{'card-loading': !loaded}">
        <header class="card-header">
            <p class="card-header-title">
                <a class="has-text-grey-darker has-text-left has-text-justified" href="/users/@Model.UserName" title="@Model.UserName" style="margin-right: 3px;"><img class="image is-32x32 is-circle" src="@Model.Avatar" alt="@Model.UserName" /></a>
                <a class="has-text-grey-darker has-text-left has-text-justified" href="/users/@Model.UserName" title="@Model.UserName">@Model.UserName</a>
            </p>
        </header>

        <div class="card-image" v-if="loaded">
            <figure class="is-card-image filter" v-bind:class="filter">
                <img v-bind:src="path" v-bind:alt="name">
            </figure>
        </div>

        <div class="card-image" v-if="!loaded" preloader v-on:click="clickFile">
            <img src="~/images/defaults/def-photo.png">
        </div>

        <div class="has-text-centered" v-bind:class="{'is-display-none': submited}" style="margin-top: 5px;">
            <div class="file has-name" style="display: inline-block;">
                <label class="file-label">
                    <input class="file-input" type="file" id="file" name="file" accept="image/*" v-on:change="filePreview($event)" required>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                    <span class="file-name is-doted-end">{{name}}</span>
                </label>
            </div>
        </div>

        <div class="is-filters-picker is-flex is-flex-row is-flex-centered is-flex-wrap" v-bind:class="{'is-display-none': submited}">
            @foreach (var filter in ViewBag.Filters)
            {
            <div class="has-margin-10px is-unselectable">
                <input class="is-display-none" id="@("filterId" + @filter.Id )" type="radio" name="Filter" value="@filter.Name" v-on:click="pickFilter('@filter.Name')" @( filter.Id == 1 ? "checked" : "" ) />
                <label for="@("filterId" + @filter.Id )" class="is-paddingless" title="@filter.Name">
                    <figure class="filter @filter.Name is-paddingless is-marginless">
                        <img v-bind:src="path" alt="@filter.Name filter" class="image is-96x96">
                    </figure>
                    <h5 class="has-text-centered has-text-weight-bold">@filter.Name</h5>
                </label>
            </div>
            }
        </div>

        <div class="card-content">
            <div class="content" v-bind:class="{'is-display-none': !loaded}">
                <input class="input" v-bind:class="{'is-display-none': submited}" type="text" placeholder="Description" name="Description" id="Description">
            </div>

            <div class="content card-button-panel">
                <div>
                    <a class="button is-danger is-unselectable" title="Dislike"><i class="fas fa-heart"></i></a>
                    <a class="button is-light comment-button" title="Comments"><i class="fas fa-comment"></i></a>
                </div>
                <div>
                    <a class="button is-warning" title="Show metadata" v-on:click="showMetadata"><i class="fab fa-medapps"></i></a>
                    <a class="button is-white bookmark-button" title="Save to bookmarks"><i class="far fa-bookmark"></i></a>
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <div class="card-footer-item">
                <button type="submit" class="button is-warning is-uppercase" v-bind:class="{'is-loading': submited}" v-on:click="submit" title="Create photo">create</button>
            </div>
        </footer>
    </article>

    <!-- Modal Metadata -->
    <div class="modal" v-bind:class="{'is-active': metadataActive, 'is-display-none': submited}">
        <div class="modal-background modal-custom-background" v-on:click="closeMetadata"></div>
        <div class="modal-card modal-card-custom modal-card-custom-metadata">
            <header class="modal-card-head">
                <p class="modal-card-title is-uppercase">Info</p>
                <a class="close-button" v-on:click="closeMetadata" title="Close modal"><i class="fas fa-times"></i></a>
            </header>
            <section class="modal-card-body modal-card-body-metadata">
                <div>
                    <p>ISO</p>
                    <div class="select">
                        <select id="Iso" name="Iso">
                            @foreach(IsoViewModel iso in ViewBag.Isos)
                            {
                                if(iso.Id == 1)
                                {
                                    <option value="@iso.Name" selected>@iso.Name</option>
                                }
                                else
                                {
                                    <option value="@iso.Name">@iso.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <p>Exposure</p>
                    <div class="select">
                                <select id="Exposure" name="Exposure">
                                    @foreach(ExposureViewModel exposure in ViewBag.Exposures)
                                    {
                                        if(exposure.Id == 1)
                                        {
                                            <option value="@exposure.Name" selected>@exposure.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@exposure.Name">@exposure.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                </div>
                <div>
                    <p>Aperture</p>
                    <div class="select">
                        <select id="Aperture" name="Aperture">
                            @foreach(ApertureViewModel aperture in ViewBag.Apertures)
                            {
                                if(aperture.Id == 1)
                                {
                                    <option value="@aperture.Name" selected>@aperture.Name</option>
                                }
                                else
                                {
                                    <option value="@aperture.Name">@aperture.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <p>Focal length</p>
                    <input class="input" type="text" placeholder="Focal Length mm" name="FocalLength" id="FocalLength" value="0">
                </div>
                <a class="button is-white has-text-grey-darker" title="Close modal" v-on:click="closeMetadata">Close</a>
            </section>
        </div>
    </div>
</form>


