@model PhotoHub.WEB.ViewModels.PhotoViewModel

@{
    ViewBag.Title = "Edit photo #" + Model.Id;
    ViewBag.Keywords = "Edit photo #" + Model.Id + "," + Model.Owner.UserName + ",Edit photo,Filters,User,Like,Post";
    ViewBag.Description = "Create new post page on PhotoHub";
}

@section Scripts{
    <script defer src="~/js/photos/edit.js"></script>
}

<form action="/Photos/Edit/@Model.Id" class="is-flex is-flex-row is-flex-centered is-flex-wrap" method="POST" id="photosEdit" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <input type="hidden" id="Path" name="Path" value="@Model.Path" />

    <div class="card is-responsive">
        <header class="card-header">
            <p class="card-header-title">
                <a class="has-text-grey-darker has-text-left has-text-justified" href="/Users/@Model.Owner.UserName" title="@Model.Owner.UserName" style="margin-right: 3px;"><img class="image is-32x32 is-circle" src="/data/avatars/@Model.Owner.UserName/@Model.Owner.Avatar" alt="@Model.Owner.UserName" /></a>
                <a class="has-text-grey-darker has-text-left has-text-justified" href="/Users/@Model.Owner.UserName" title="@Model.Owner.UserName">@Model.Owner.UserName</a>
            </p>
        </header>

        <div class="card-image">
            <figure class="image is-square filter" v-bind:class="filter">
                <img src="/data/photos/@Model.Owner.UserName/@Model.Path" id="file-img" alt="Edit photo">
            </figure>
        </div>

        <div class="is-flex is-flex-row is-flex-centered is-flex-wrap" id="container-filters" data-current-filter-name="@Model.Filter">
            @foreach (var filter in ViewBag.Filters)
            {
                <div class="has-margin-10px is-unselectable">
                    <input class="is-display-none" id="@("filterId" + @filter.Id )" type="radio" name="Filter" value="@filter.Name" v-on:click="pickFilter('@filter.Name')" @( filter.Name == Model.Filter ? "checked" : "" ) />
                    <label for="@("filterId" + @filter.Id )" class="is-paddingless" title="@filter.Name">
                        <figure class="filter @filter.Name is-paddingless is-marginless">
                            <img src="~/data/photos/@Model.Owner.UserName/@Model.Path" alt="@filter.Name filter" class="image is-96x96">
                        </figure>
                        <h5 class="has-text-centered has-text-weight-bold">@filter.Name</h5>
                    </label>
                </div>
            }
        </div>

        <div class="card-content">
            <div class="content">
                <input class="input" type="text" v-on:keyup.enter="submit" placeholder="Description" name="Description" id="Description" value="@Model.Description">
            </div>

            <div class="content">
                <a class="button is-danger" title="Dislike"><i class="fas fa-heart"></i></a>
                <a class="button button is-danger is-outlined is-unselectable">@ViewBag.LikesCount</a>
            </div>
        </div>

        <footer class="card-footer">
            <div class="card-footer-item">
                <button type="submit" class="button is-primary is-uppercase" v-bind:class="{'is-loading': submited}" v-on:click="submit" title="Edit photo">edit</button>
            </div>
        </footer>
    </div>
</form>